.monster-atlas-searchbar {
    width: 80%;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    
    transition: box-shadow 1s ease-out;
    border: 1px solid white;

    &:focus {
        outline: none;
        box-shadow: inset 0 0 16px rgba(255, 255, 255, 0.2);

        transition: box-shadow 600ms ease-out;
    }
}