@import "../common/variables.css";

.monster-statblock {
    padding: 1rem 2rem;

    text-align: left;
    font-size: 0.9rem;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: hsl(from var(--grey-darkest) h s l / 0.9);
    background-blend-mode: overlay;
}

.monster-statblock .stat-title {
    font-weight: bold;
}

.monster-statblock .stats-table {
    width: 100%;
    text-align: center;
}
