:root {
    --window-height: calc(100dvh - 8rem);
}


.window {
    border-radius: 1rem;
    border: 1px solid white;

    height: var(--window-height);
    overflow: hidden;
}

.window-header {
    min-height: 5%;
    max-height: 33%;

    border-bottom: 1px solid white;
    padding: 1rem 0;
}

.window-content {
    max-height: calc(95% - 2rem);
    min-height: calc(66% - 2rem);
    overflow-y: scroll;

    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.4);

}

.window:hover {
    transition: box-shadow 800ms;

    box-shadow: 0px 0px 10px white;
}
