.window {
    border-radius: 1rem;
    border: 1px solid white;

    height: 80vh;
    overflow: hidden;
}

.window-header {
    min-height: 5%;
    max-height: 33%;

    border-bottom: 1px solid white;
    padding: 1rem 0;
}

.window-content {
    max-height: 90%;
    overflow-y: auto;

    box-shadow: inset 0 0 5px black;

}

.window:hover {
    transition: box-shadow 800ms;

    box-shadow: 0px 0px 10px white;
}
